#modal-account {
  padding: 15px 15px 0 15px;
  position: relative;
}

#modal-account header {
  display: flex;
  padding-bottom: 10px;
}

#modal-account header .modal-close {
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
}

#modal-account header .modal-title {
  margin-right: auto;
}

#modal-account header .modal-title, #modal-account header .modal-close {
  margin-top: auto;
  margin-bottom: auto;
}

/* #modal-account header .modal-close {
  transition: filter .3s
} */

/* #modal-account header .modal-close:hover {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
} */

#modal-account header .modal-close .icon {
  fill: #872626;
}

#modal-account form {
  display: block;
}

#modal-account .password-container {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
}

#modal-account .password-container input {
  margin: 0;
}

#modal-account .show-overlay.hidden {
  opacity: 0;
}

#modal-account .show-overlay.over {
  background-color: #2d4128;
  color: rgb(157, 218, 97);
}

#modal-account .show-overlay {
  position: absolute;
  display: flex;
  height: 100%;
  min-width: 60px;
  right: 0;
  top: 0;
  background-color: #1d1d1d;
  opacity: 1;
  cursor: pointer;
  transition: .33s ease;
}

#modal-account .show-overlay > * {
  margin: auto;
  padding: 0 10px;
  font-size: smaller;
}

#modal-account form input, #modal-account form textarea {
  display: block;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: initial;
  padding: 10px 20px;
  color: rgb(223, 223, 223);
  margin: 20px 0;
}

#modal-account form input:not([type="submit"]), #modal-account form textarea {
  max-width: 350px;
  min-width: 350px;
  background-color: #2f2f2f;
  border-radius: 4px;
  font-family: Arial;
  font-size: inherit;
}

#modal-account footer {
  transform: translateX(-15px);
  width: calc(100% + 30px);
  display: flex;
}

#modal-account footer .footer-button:hover {
  filter: brightness(1.20);
}

#modal-account footer .footer-button {
  display: block;
  border: none;
  outline: none;
  background-color: #5362ce;
  margin: 0;
  cursor: pointer;
  border-radius: 0;
  font-size: initial;
  color: rgb(223, 223, 223);
  width: 100%;
  padding: 10px 0;
  transition: filter 0.3s ease;
}

#modal-account footer div {
  background-color: #714040 !important;
  text-align: center;
}