
.pw-account-item {
  background-color: #2f2f2f;
  border-radius: 8px;
  width: 300px;
  height: 45px;
  overflow: hidden;
}

.pw-account-item .main-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.pw-account-item .main-container .text-container {
  top: 0;
  left: 0;
  display: flex;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.pw-account-item .text-container span {
  margin: auto auto auto 10px;
}

.pw-account-item .text-container:hover .container-left-button {
  width: 100%;
}

.pw-account-item .container-left-button {
  top: 0;
  left: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: width .5s ease;
}

.pw-account-item .icon-container {
  height: 100%;
  display: flex;
  cursor: pointer;
}

.pw-account-item .icon {
  width: 20px;
  margin: auto 20px;
  fill: rgb(223, 223, 223);
  transition: filter .2s ease;
}

.pw-account-item .icon-container:hover .icon {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.pw-account-item .delete-button {
  background-color: #714040;
}

.pw-account-item .edit-button {
  background-color: #3d6748;
}

.pw-account-item .play-button {
  background-color: #5362ce;
  z-index: 10;
}

