#modal-account {
  padding: 15px 15px 0 15px;
  position: relative;
}

#modal-account header {
  display: flex;
  padding-bottom: 10px;
}

#modal-account header .modal-close {
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
}

#modal-account header .modal-title {
  margin-right: auto;
}

#modal-account header .modal-title, #modal-account header .modal-close {
  margin-top: auto;
  margin-bottom: auto;
}

/* #modal-account header .modal-close {
  transition: filter .3s
} */

#modal-account header .modal-close:hover {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
}

#modal-account header .modal-close .icon {
  fill: #872626;
}

#modal-account form {
  display: block;
}

#modal-account form input {
  display: block;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: initial;
  padding: 10px 20px;
  color: rgb(223, 223, 223);
  margin: 20px 0;
}

#modal-account form input:not([type="submit"]) {
  width: 350px;
  background-color: #2f2f2f;
  border-radius: 4px;
  font-size: initial;
}

#modal-account footer {
  transform: translateX(-15px);
  width: calc(100% + 30px);
  display: flex;
}

#modal-account footer .footer-button:hover {
  filter: brightness(1.20);
}

#modal-account footer .footer-button {
  display: block;
  border: none;
  outline: none;
  background-color: #5362ce;
  margin: 0;
  cursor: pointer;
  border-radius: 0;
  font-size: initial;
  color: rgb(223, 223, 223);
  width: 100%;
  padding: 10px 0;
  transition: filter 0.3s ease;
}

#modal-account footer div {
  background-color: #714040 !important;
  text-align: center;
}