#home-page {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}

#accounts-container {
  margin: auto;
  width: 100%;
  max-width: 325px;
}

#home-page .button-add {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background-color: #5362ce;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  z-index: 10;
}

#home-page .button-add .empty-list {
  position: absolute;
  right: -35px;
  height: 50px;
  display: flex;
  transform: translateX(-100%);
  margin: auto 0;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
}

#home-page .button-add .empty-list span {
  display: inline;
  flex-shrink: 0;
  margin: auto;
  text-transform: uppercase;
  
}

@keyframes arrow_anim {
  0% {
    transform: translateX(0) scaleY(.8) scaleX(1.2);
  }
  100% {
    transform: translateX(-40px);
  }
}

#home-page .button-add .empty-list .arrow-icon {
  width: 30px;
  height: 30px;
  margin: auto;
  fill: rgb(223, 223, 223);
  flex-shrink: 0;
  margin-left: 60px;
  animation: infinite alternate arrow_anim ease .7s;
}

#home-page .button-add .icon {
  width: 50%;
  height: 50%;
  margin: auto;
  fill: rgb(223, 223, 223);
}

#home-page .awp-drop-down-menu {
  position: absolute;
  float: right;
  right: 15px;
  top: 15px;
  text-transform: uppercase;
  z-index: 10000;
}